/pii-detector-service/pii_detector/proto/generated/
/pii-detector-service/tests/unit/.coverage/
/pii-detector-service/tests/.coverage/
/pii-reporting-api/target/
/pii-detector-service/.scannerwork/
/pii-reporting-ui/.scannerwork/
/.idea/
/**/.coverage
/pii-reporting-ui/playwright-report/
/pii-reporting-ui/test-results/
