name: CI - Tests (feature branches)

on:
  push:
    branches:
      - '**'
    branches-ignore:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch: {}

concurrency:
  group: ci-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: ./.github/workflows/run-tests.yml
